@font-face {
    font-family: 'a_LCDNova';
    src: url('a_LCDNova.woff2') format('woff2'),
        url('a_LCDNova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Bold.woff2') format('woff2'),
        url('TTNorms-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular.woff2') format('woff2'),
        url('TTNorms-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-BoldItalic.woff2') format('woff2'),
        url('TTNorms-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBookCTT';
    src: url('FuturaBookC.woff2') format('woff2'),
        url('FuturaBookC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

